
*{

    background-color: cornsilk;
    font-family: Roboto;
  }
  
  .dropdown{
    padding-left: 20px;
    padding-top: 20px;
  }
  
  .logo{
    display: grid;
    justify-content: center;
    font-size: 25px;
    
  }
  
  .btn-secondary{
    background-color: rgb(182, 118, 35);
  }
  .introduction{
    display: grid;
    justify-content: center;
    padding-top: 120px;
    
    
  }
  
  .description{
    display: flex;
    text-align: center;
  }
  .heading{
    display: flex;
    text-align: center;
    font-size: 25px;
  }